In [51]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
sns.set_style("whitegrid")
sns.color_palette("husl", 10)
import missingno as msno

from scipy import stats
from scipy.stats import skew
from scipy.special import boxcox1p

from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import KFold, cross_val_score, train_test_split
from sklearn.metrics import mean_squared_error
from sklearn.ensemble import RandomForestRegressor, GradientBoostingRegressor
from sklearn.exceptions import DataConversionWarning
import lightgbm as lgb
from lightgbm import LGBMRegressor
from xgboost import XGBRegressor

pd.set_option('display.max_columns', None)
pd.set_option('display.float_format', lambda x: '%.3f' % x)

import warnings
from warnings import filterwarnings
warnings.filterwarnings("ignore")
warnings.simplefilter(action='ignore', category=FutureWarning)
warnings.simplefilter(action='ignore', category=DeprecationWarning)
warnings.filterwarnings(action='ignore', category=DataConversionWarning)

from fractions import Fraction
from string import ascii_letters

def frac_to_float(frac):
    try:
        if isinstance(frac, float):
            return frac
        if frac == "1 / 200s":
            frac = "1/200"
        return float(sum(Fraction(s.rstrip(ascii_letters)) for s in frac.split()))
    except:
        print(frac)

In [52]:
# Load/Preprocess data

train = pd.read_csv("train.csv")
train_colors = pd.read_csv("train_colors.csv")
train_keywords = pd.read_csv("train_keywords.csv")
test = pd.read_csv("test.csv")
test_colors = pd.read_csv("test_colors.csv")
test_keywords = pd.read_csv("test_keywords.csv")

cam_make_map = {
 "ASUS": "Asus", "Cannon": "Canon", 
 'Canon, SVR 90mm, 15 images': "Canon",
 'Canon, SVR90, 15 images': "Canon",
 'Canon, SVR90mm, 11 images': "Canon",
 'Canon, WOGT71, 19 images': "Canon",
 'Canon, WOGT71, 26 images': "Canon",
 'Canon, WOGT71, 32 images': "Canon",
 "canon": "Canon",
 'DJI Mavic 2 Pro': "DJI",
 'DJI Mavic Pro': "DJI",
 'DJI Spark': "DJI",
 'FUJIFILM': "Fujifilm",
 'FujiFilm': "Fujifilm",
 'Fujica': "Fujifilm",
 "google": "Google",
 'HASSELBLAD': "Hasselblad",
 "HUAWEI": "Huawei",
 'LEICA CAMERA AG': "LEICA",
 'Leica Camera AG': "LEICA",
 'LG Electronics': "LGE",
 'NIKON': "Nikon",
 'NIKON CORPORATION': "Nikon",
 'OLYMPUS CORPORATION': "Olympus",
 'OLYMPUS IMAGING CORP.': "Olympus",
 'PENTAX Corporation': "Pentax",
 'PENTAX RICOH IMAGING': "Pentax",
 "PENTAX": "Pentax",
 'RICOH IMAGING COMPANY, LTD.': "Ricoh",
 "SAMSUNG": "Samsung",
 "SONY": "Sony",
 "XIAOMI": "Xiaomi",
 'XIAOYI': "Xiaomi",
 'ZWO WOGT71': "ZWO",
 'ZWO w/ WOGT71 21 frames each SHO': "ZWO",
 'ZWO, WOGT71, 15 frames each of H, O, S': "ZWO",
 'motorola': "Motorola",
 "nikon": "Nikon",
 "olympus": "Olympus",
 "samsung": "Samsung",
 "sony": "Sony",
 }

train = train[(train["stats_downloads"] < 300000)]
train["image_category"] = train["image_category"].replace({"Featured": 1, "Not Featured": 0})
train["camera_make"] = train["camera_make"].replace(cam_make_map)
train["camera_make"] = train["camera_make"].apply(lambda x: str(x).lower())
make_counts = train["camera_make"].value_counts()

# Remove instances where camera_make <= 10
train = train[train["camera_make"].isin(make_counts[make_counts > 10].index)]
train["exposure_time"] = train["exposure_time"].apply(frac_to_float)
train["photo_submitted_at"] = pd.to_datetime(train["photo_submitted_at"])

# Fill Missing Values
train["aperture_value"] = train["aperture_value"].fillna(train["aperture_value"].mean())
train["iso"] = train["iso"].fillna(train["iso"].mean())
train["exposure_time"] = train["exposure_time"].fillna(train["exposure_time"].mean())

# Fill missing camera_make data based on camera_model data
make_replace_id = ["eca7e87d03", "bee68f9815", "5e15dcf061", "efd3bf77ec", "63cd2598c2", "759de7f18d", "8b215885c7", "c83069821b", "4bdba7914b", "913cc10182"]
make_replace_str = ["olympus", "nikon", "canon", "nikon", "nikon", "nikon", "canon", "sony", "olympus", "olympus"]
for replace_id, replace_str in zip(make_replace_id, make_replace_str):
    train.loc[train["image_id"] == replace_id, "camera_make"] = replace_str

# Drop unnecessary columns
train.drop(columns=["photo_url", "photo_image_url", "photo_submitted_at", "obs_min", "obs_sec", "width", "height", "iso", "aperture_value", "focal_length", "exposure_time", "latitude", "longitude", "country", "city"], inplace=True)

# Day and hour may be important, keep aspect ratio because image dimensions make sense to affect download rates (if image is shaped too tall or wide it could be negative)

train_num = train.select_dtypes(include=np.number)
train

,image_id,obs_day,obs_hour,image_category,aspect_ratio,description1,description2,camera_make,camera_model,total_days,stats_downloads
0,68105c019b,Thursday,15,1,1.500,Pristine water lily,rule of thirds photography of pink and white l...,canon,Canon EOS 60D,2361,167503
1,06d11c4edd,Wednesday,21,1,0.670,NaN,sand in desert,sony,ILCE-6500,1255,1839
2,f6599edba1,Tuesday,4,1,0.670,NaN,green trees near brown mountain during daytime,nikon,NIKON D850,1138,787
3,0f4bcc2d36,Monday,23,1,1.780,NaN,gray dock aerial photography,dji,FC220,1579,2049
4,74db502ed5,Saturday,11,1,1.500,NaN,people walking on green grass field near lake ...,fujifilm,X-T10,1050,2982
...,...,...,...,...,...,...,...,...,...,...,...
12192,18eaca644e,Monday,13,1,0.730,NaN,calm water during night time,canon,Canon EOS 5D Mark IV,1265,2353
12193,eb25cd769e,Monday,20,1,0.720,NaN,snowflakes on ground,canon,Canon EOS 5D Mark III,1503,3541
12194,73302461d0,Thursday,1,1,1.500,Inside of the small wave,NaN,canon,Canon EOS M,2501,14581
12195,f2587b2b08,Thursday,18,1,1.500,Tropical palm,low angle of banana tree,nikon,NIKON D5300,2508,9247
12196,053c21aecf,Wednesday,20,1,1.500,NaN,field of assorted-color-petaled flowers,canon,Canon EOS 60D,1522,1497

In [53]:
# test = test[(test["stats_downloads"] < 300000)]
test["image_category"] = test["image_category"].replace({"Featured": 1, "Not Featured": 0})
test["camera_make"] = test["camera_make"].replace(cam_make_map)
test["camera_make"] = test["camera_make"].apply(lambda x: str(x).lower())

test["exposure_time"] = test["exposure_time"].apply(frac_to_float)
test["photo_submitted_at"] = pd.to_datetime(test["photo_submitted_at"])

# Fill Missing Values
test["aperture_value"] = test["aperture_value"].fillna(test["aperture_value"].mean())
test["iso"] = test["iso"].fillna(test["iso"].mean())
test["exposure_time"] = test["exposure_time"].fillna(test["exposure_time"].mean())

# Fill missing camera_make data based on camera_model data
# make_replace_id = ["eca7e87d03", "bee68f9815", "5e15dcf061", "efd3bf77ec", "63cd2598c2", "759de7f18d", "8b215885c7", "c83069821b", "4bdba7914b", "913cc10182"]
# make_replace_str = ["olympus", "nikon", "canon", "nikon", "nikon", "nikon", "canon", "sony", "olympus", "olympus"]
# for replace_id, replace_str in zip(make_replace_id, make_replace_str):
#     test.loc[test["image_id"] == replace_id, "camera_make"] = replace_str

# Drop unnecessary columns
test.drop(columns=["photo_url", "photo_image_url", "photo_submitted_at", "obs_min", "obs_sec", "width", "height", "iso", "aperture_value", "focal_length", "exposure_time", "latitude", "longitude", "country", "city"], inplace=True)

# Day and hour may be important, keep aspect ratio because image dimensions make sense to affect download rates (if image is shaped too tall or wide it could be negative)

test_num = test.select_dtypes(include=np.number)
test

63 Seconds
30"

,image_id,obs_day,obs_hour,image_category,aspect_ratio,description1,description2,camera_make,camera_model,total_days
0,2322208d63,Wednesday,14,1,0.670,NaN,brown leaf,nikon,NIKON D750,1249
1,847b5fcee1,Saturday,17,1,1.500,NaN,gray seal,canon,Canon EOS 6D Mark II,1211
2,0e1a37b065,Tuesday,6,1,1.500,NaN,NaN,canon,Canon EOS 6D,1439
3,8c8c9d4355,Tuesday,14,1,0.670,NaN,landscape photography of desert,sony,ILCE-7M2,1194
4,8ff19c3747,Friday,1,1,1.500,NaN,brown grass,sony,ILCE-6000,1457
...,...,...,...,...,...,...,...,...,...,...
6563,a41cfba199,Tuesday,10,1,0.770,NaN,woman fixing flowers in pot,canon,Canon EOS 650D,1285
6564,73bbb77964,Monday,10,1,0.710,Autumn vibes,brown mushroom in ground,sony,ILCE-7RM2,1258
6565,22028b67b0,Sunday,16,1,0.670,NaN,NaN,canon,Canon EOS R,1315
6566,7abf54e623,Monday,19,1,0.670,"Hat in a car. Saw it in Klagenfurt, Austria",white and black hat,fujifilm,X-T1,1426
6567,e8d32b5789,Tuesday,3,1,0.750,NaN,person taking photo of pathway using iPhone,panasonic,DMC-GX85,1222

In [54]:
test_data = test.select_dtypes(include=np.number)
test_data

      obs_hour  image_category  aspect_ratio  total_days
0           14               1         0.670        1249
1           17               1         1.500        1211
2            6               1         1.500        1439
3           14               1         0.670        1194
4            1               1         1.500        1457
...        ...             ...           ...         ...
6563        10               1         0.770        1285
6564        10               1         0.710        1258
6565        16               1         0.670        1315
6566        19               1         0.670        1426
6567         3               1         0.750        1222

[6568 rows x 4 columns]

In [55]:
test.dtypes

image_id           object
obs_day            object
obs_hour            int64
image_category      int64
aspect_ratio      float64
description1       object
description2       object
camera_make        object
camera_model       object
total_days          int64
dtype: object

In [56]:
test.isnull().sum()

image_id             0
obs_day              0
obs_hour             0
image_category       0
aspect_ratio         0
description1      3803
description2       346
camera_make          0
camera_model        29
total_days           0
dtype: int64

In [57]:
# len(train[train["camera_make"] == "nan"])
len(train[train["camera_make"] == "nan"])

30

In [58]:
train.dtypes

image_id            object
obs_day             object
obs_hour             int64
image_category       int64
aspect_ratio       float64
description1        object
description2        object
camera_make         object
camera_model        object
total_days           int64
stats_downloads      int64
dtype: object

In [59]:
train.isnull().sum()

image_id              0
obs_day               0
obs_hour              0
image_category        0
aspect_ratio          0
description1       7019
description2        650
camera_make           0
camera_model         46
total_days            0
stats_downloads       0
dtype: int64

In [60]:
make = []
counts = []
avg_downloads = []
for group, data in train.groupby("camera_make"):
    make.append(group)
    counts.append(len(data))
    avg_downloads.append(data["stats_downloads"].mean())
make_downloads = pd.DataFrame({"make": make, "count": counts, "avg_downloads": avg_downloads})
make_downloads

          make  count  avg_downloads
0        apple    318      12371.437
1        canon   4857       9511.060
2          dji    452       9626.885
3     fujifilm    854      10541.172
4       google     30       8813.033
5        gopro     38       7972.711
6   hasselblad    150       7493.133
7       huawei     22       7587.727
8        leica     35       8146.343
9          nan     30       7874.533
10       nikon   2643      10241.479
11     olympus    168      12517.738
12   panasonic    264      10405.326
13      pentax     28      29878.750
14       ricoh    113       5778.885
15     samsung     51      10270.275
16        sony   2055       7654.410
17      xiaomi     13       3853.000

In [61]:
train[train["camera_model"].isnull()].index
train[train["camera_make"] == "nan"][["image_id", "camera_make", "camera_model"]]

make_replace_id = ["eca7e87d03", "bee68f9815", "5e15dcf061", "efd3bf77ec", "63cd2598c2", "759de7f18d", "8b215885c7", "c83069821b", "4bdba7914b", "913cc10182"]
make_replace_str = ["olympus", "nikon", "canon", "nikon", "nikon", "nikon", "canon", "sony", "olympus", "olympus"]

In [62]:
train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 12121 entries, 0 to 12196
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   image_id         12121 non-null  object
 1   obs_day          12121 non-null  object
 2   obs_hour         12121 non-null  int64
 3   image_category   12121 non-null  int64
 4   aspect_ratio     12121 non-null  float64
 5   description1     5102 non-null   object
 6   description2     11471 non-null  object
 7   camera_make      12121 non-null  object
 8   camera_model     12075 non-null  object
 9   total_days       12121 non-null  int64
 10  stats_downloads  12121 non-null  int64
dtypes: float64(1), int64(4), object(6)
memory usage: 1.1+ MB

In [63]:
train["description2"].value_counts()

body of water                                                64
green-leafed plant                                           30
snow covered mountain during daytime                         26
white clouds                                                 21
snow covered mountain                                        21
                                                             ..
photo of snowy mountain                                       1
brown chipmunk on branch of tree                              1
aerial photography of concrete road near trees at daytime     1
Cinque Terre in Italy during daytime                          1
field of assorted-color-petaled flowers                       1
Name: description2, Length: 9828, dtype: int64

In [64]:
train[train["camera_model"].isnull()]

,image_id,obs_day,obs_hour,image_category,aspect_ratio,description1,description2,camera_make,camera_model,total_days,stats_downloads
676,9a12bb8fe9,Wednesday,11,1,1.330,Wild Blues 🌊,bird's-eye photography of body of water,dji,NaN,1459,2977
2286,5aaa9a4bde,Monday,19,1,1.500,NaN,brown and green grass field during sunset,nan,NaN,1419,1372
2612,63c0ba214e,Monday,19,1,0.560,NaN,scenery of forest trees,nikon,NaN,1937,167386
2737,90bd79188c,Monday,20,1,1.500,NaN,brown antelope,canon,NaN,1363,2911
3134,2618e3780c,Sunday,0,1,1.330,NaN,two boat on body of water,nan,NaN,2519,8984
3333,aba93959bc,Wednesday,3,1,0.670,Pier with water splashing at sunset,brown wooden dock on sea during daytime,nan,NaN,1144,887
3961,28e7a4e710,Wednesday,9,1,0.800,Blue ambiance in the forest,green trees on foggy weather,nan,NaN,1025,4876
4018,454bb547b6,Monday,13,1,1.250,A forest in the snow,withered trees surrounded by snow,nan,NaN,2616,20051
4028,8034cf0628,Sunday,16,1,1.500,Football on Faroe islands #4,women's white shirt,nan,NaN,1343,2599
4145,629b45abeb,Tuesday,8,1,0.670,Butterfly on Leaf,brown and black butterfly on white flower,nan,NaN,1096,14598
4357,2c7449815a,Wednesday,0,1,0.560,NaN,silhouette of person standing on seashore duri...,nan,NaN,1144,850
4368,51e1cb9613,Tuesday,6,1,0.750,NaN,aerial photography of concrete roadway,nan,NaN,1495,15709
4383,bc7be83dd8,Sunday,22,1,1.350,Majestic tree bark,low-angle photography of gray tree during daytime,nan,NaN,2882,7940
4467,03059cc733,Thursday,19,1,0.800,NaN,green tree,nan,NaN,1556,1333
4582,76e05c9e43,Saturday,16,1,1.250,NaN,pink rose flower,nan,NaN,1435,6075
4731,93e62909ff,Friday,20,1,1.500,NaN,sea during golden hour,nikon,NaN,1527,11595
4755,b26c1fb7ea,Tuesday,17,1,1.790,NaN,red berries photo,nan,NaN,2678,8681
5154,7f52b66036,Sunday,16,1,1.330,NaN,aerial photo of black on road during daytime,nan,NaN,1343,23290
5605,b154ab8592,Monday,11,1,1.500,NaN,black rabbit on field,nikon,NaN,1475,3748
5626,76892c8e4a,Monday,20,1,1.500,NaN,brown deer on brown grass during daytime,canon,NaN,1363,1439
6413,b1afc9361f,Monday,20,1,1.500,NaN,brown and black bird,nikon,NaN,1503,1242
6595,e7874e17ff,Wednesday,20,1,1.500,NaN,white mountain under sky,nan,NaN,1522,3865
6684,7daf10f7d5,Monday,18,1,0.800,A kayak seen from above in the middle of a cor...,yellow and black boat on body of water,nan,NaN,1013,2732
7223,dff3762023,Wednesday,21,1,0.670,NaN,man walking near houses,nan,NaN,1578,2234
7474,8260f9ac60,Saturday,6,1,1.500,NaN,brown fawn during daytime selective focus phot...,nikon,NaN,1470,2694
7903,44113d584c,Thursday,15,1,1.010,NaN,green fern plant,sony,NaN,1437,2495
7910,57a7bd742b,Wednesday,13,1,1.510,NaN,green glass jars on brown wooden fence,nan,NaN,3482,32258
8933,b66d86f423,Wednesday,12,1,1.500,NaN,gray wolf on brown grass,canon,NaN,1375,22166
9020,d12a95ff8b,Monday,20,1,0.800,NaN,white clouds hovering above the valley near sn...,nan,NaN,1496,1040
9463,d8dc57f653,Sunday,20,1,1.500,NaN,roe deer on grassy field,canon,NaN,1399,2423
9558,2e234eb1dc,Monday,13,1,1.500,NaN,brown owl in flight,nikon,NaN,1510,2324
9704,eebc3c7377,Monday,21,1,0.800,and we'll all float on.,woman in water,nan,NaN,1160,4992
9851,813117a7d2,Sunday,16,1,1.330,NaN,aerial photo of island,nan,NaN,1343,11502
10116,c80021d00b,Sunday,16,1,0.670,NaN,NaN,nan,NaN,1343,1081
10789,29f0bb0e3e,Monday,20,1,1.500,NaN,brown hawk,nikon,NaN,1517,1443
11031,396087e1ab,Wednesday,9,1,0.800,"Earth I, the satellite of our planet. The moon",black and white clouds during sunset,nan,NaN,1025,32080
11073,852c7aee6d,Wednesday,17,1,0.830,NaN,black dog,nikon,NaN,1473,2904
11131,e3b48fc5a1,Wednesday,17,1,0.800,Colorful road in Iceland seen from above,aerial view of forest during daytime,nan,NaN,1046,2204
11324,28e50b68b9,Wednesday,6,1,0.800,An island in thailand,brown and green mountain beside blue sea under...,nan,NaN,1053,5072
11359,213230fd39,Sunday,0,1,0.640,It goes on for miles,bird's eye photography of high rise buildings,nan,NaN,2988,10911
11572,db09ec9bbe,Saturday,20,1,1.500,Stormy day over the Dolomite Mountains,brown and green mountains,canon,NaN,1869,3600
11613,b93e183c62,Wednesday,14,1,1.500,NaN,brown short coated puppy on wooden box,nikon,NaN,1585,13692
11756,56b1312988,Sunday,16,1,1.330,NaN,aerial photography of island,nan,NaN,1343,2377
11798,ac23bc1dfc,Wednesday,9,1,0.800,Sunset over small islands,body of water under cloudy sky during sunset,nan,NaN,1025,2740
12004,75570d742c,Wednesday,5,1,0.670,NaN,brown dried leaves,nan,NaN,1550,1337
12136,36e08bbe25,Wednesday,7,1,1.500,NaN,grizzly bear cub stand beside stick,nikon,NaN,1578,8770

In [65]:
# Categorical: obs_day, camera_make, camera_model
make_counts = train["camera_make"].value_counts()
make_counts
# make_counts[make_counts > 10].index

canon         4857
nikon         2643
sony          2055
fujifilm       854
dji            452
apple          318
panasonic      264
olympus        168
hasselblad     150
ricoh          113
samsung         51
gopro           38
leica           35
google          30
nan             30
pentax          28
huawei          22
xiaomi          13
Name: camera_make, dtype: int64

In [66]:
train.describe()

       obs_hour  image_category  aspect_ratio  total_days  stats_downloads
count 12121.000       12121.000     12121.000   12121.000        12121.000
mean     12.667           0.992         1.140    1572.249         9535.020
std       6.641           0.091         0.413     529.571        22579.971
min       0.000           0.000         0.340     897.000          152.000
25%       7.000           1.000         0.670    1201.000         1502.000
50%      14.000           1.000         1.330    1414.000         2769.000
75%      18.000           1.000         1.500    1588.000         7705.000
max      23.000           1.000         3.950    3562.000       299344.000

In [68]:
corrs = []
for col in train_num.columns[:-1]:
    corr = train[col].corr(train["stats_downloads"])
    corrs.append(corr)
    # print(f"Column {col}: {corr}")

corr_df = pd.DataFrame({"col": train_num.columns[:-1], "corr": corrs})
corr_df.sort_values("corr", ascending=False)

# total_days is strongest predictor

              col  corr
3      total_days 0.370
2    aspect_ratio 0.119
1  image_category 0.029
0        obs_hour 0.002

In [70]:
train_num.columns

Index(['obs_hour', 'image_category', 'aspect_ratio', 'total_days',
       'stats_downloads'],
      dtype='object')

In [71]:
# Columns to drop
to_drop = ['obs_hour', 'obs_min', 'obs_sec', 'width', 'height', 'iso', 'aperture_value', 'focal_length', 'latitude',
       'longitude', 'total_days', 'stats_downloads']

In [72]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error

# Initial XGBoost testing
data = train.select_dtypes(include=np.number)
X = data.drop(columns="stats_downloads")
y = data["stats_downloads"]
# X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, stratify=y, random_state=8)

In [73]:
X

       obs_hour  image_category  aspect_ratio  total_days
0            15               1         1.500        2361
1            21               1         0.670        1255
2             4               1         0.670        1138
3            23               1         1.780        1579
4            11               1         1.500        1050
...         ...             ...           ...         ...
12192        13               1         0.730        1265
12193        20               1         0.720        1503
12194         1               1         1.500        2501
12195        18               1         1.500        2508
12196        20               1         1.500        1522

[12121 rows x 4 columns]

In [74]:
y

0        167503
1          1839
2           787
3          2049
4          2982
          ...
12192      2353
12193      3541
12194     14581
12195      9247
12196      1497
Name: stats_downloads, Length: 12121, dtype: int64

In [82]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, Dropout
from tensorflow.keras import regularizers

model = Sequential()

# Input layer
model.add(Dense(256, activation='relu', input_dim=X_train.shape[1]))

# Hidden layers
model.add(Dense(128, activation='relu', kernel_regularizer=regularizers.l2(0.001)))
model.add(Dense(64, activation='relu', kernel_regularizer=regularizers.l2(0.001)))
model.add(Dense(32, activation='relu', kernel_regularizer=regularizers.l2(0.001)))
model.add(Dense(16, activation='relu', kernel_regularizer=regularizers.l2(0.001)))

# Dropout layer to prevent overfitting
model.add(Dropout(0.2))

# Output layer
model.add(Dense(1))

model.compile(optimizer='adam', loss='mse')

model.fit(X_train, y_train, epochs=100, batch_size=32, validation_split=0.2)

Epoch 1/100
243/243 [==============================] - 2s 4ms/step - loss: 482684768.0000 - val_loss: 416176640.0000
Epoch 2/100
243/243 [==============================] - 1s 3ms/step - loss: 469285536.0000 - val_loss: 416073024.0000
Epoch 3/100
243/243 [==============================] - 1s 3ms/step - loss: 470647136.0000 - val_loss: 417184416.0000
Epoch 4/100
243/243 [==============================] - 1s 3ms/step - loss: 469425984.0000 - val_loss: 414852160.0000
Epoch 5/100
243/243 [==============================] - 1s 3ms/step - loss: 467822016.0000 - val_loss: 415878464.0000
Epoch 6/100
243/243 [==============================] - 1s 3ms/step - loss: 468138944.0000 - val_loss: 415438816.0000
Epoch 7/100
243/243 [==============================] - 1s 3ms/step - loss: 470439296.0000 - val_loss: 414123904.0000
Epoch 8/100
243/243 [==============================] - 1s 3ms/step - loss: 468663424.0000 - val_loss: 413665824.0000
Epoch 9/100
243/243 [==============================] - 1s 3ms/step - loss: 465390176.0000 - val_loss: 413651072.0000
Epoch 10/100
243/243 [==============================] - 1s 3ms/step - loss: 467863552.0000 - val_loss: 412747040.0000
Epoch 11/100
243/243 [==============================] - 1s 4ms/step - loss: 467771584.0000 - val_loss: 412378784.0000
Epoch 12/100
243/243 [==============================] - 1s 3ms/step - loss: 467002688.0000 - val_loss: 414900768.0000
Epoch 13/100
243/243 [==============================] - 1s 3ms/step - loss: 468700736.0000 - val_loss: 414192768.0000
Epoch 14/100
243/243 [==============================] - 1s 5ms/step - loss: 464137344.0000 - val_loss: 410615328.0000
Epoch 15/100
243/243 [==============================] - 1s 5ms/step - loss: 469222080.0000 - val_loss: 410942112.0000
Epoch 16/100
243/243 [==============================] - 1s 3ms/step - loss: 466111872.0000 - val_loss: 413877856.0000
Epoch 17/100
243/243 [==============================] - 1s 3ms/step - loss: 462659104.0000 - val_loss: 410262976.0000
Epoch 18/100
243/243 [==============================] - 1s 3ms/step - loss: 463899136.0000 - val_loss: 408380864.0000
Epoch 19/100
243/243 [==============================] - 1s 3ms/step - loss: 462501184.0000 - val_loss: 407850880.0000
Epoch 20/100
243/243 [==============================] - 1s 3ms/step - loss: 464441568.0000 - val_loss: 408232480.0000
Epoch 21/100
243/243 [==============================] - 1s 3ms/step - loss: 460288288.0000 - val_loss: 407525152.0000
Epoch 22/100
243/243 [==============================] - 1s 3ms/step - loss: 463312064.0000 - val_loss: 406831264.0000
Epoch 23/100
243/243 [==============================] - 1s 3ms/step - loss: 462456544.0000 - val_loss: 406436128.0000
Epoch 24/100
243/243 [==============================] - 1s 3ms/step - loss: 462925344.0000 - val_loss: 413288864.0000
Epoch 25/100
243/243 [==============================] - 1s 3ms/step - loss: 458974848.0000 - val_loss: 406638144.0000
Epoch 26/100
243/243 [==============================] - 1s 3ms/step - loss: 463046688.0000 - val_loss: 405830592.0000
Epoch 27/100
243/243 [==============================] - 1s 3ms/step - loss: 464204352.0000 - val_loss: 406076992.0000
Epoch 28/100
243/243 [==============================] - 1s 3ms/step - loss: 463618368.0000 - val_loss: 411661536.0000
Epoch 29/100
243/243 [==============================] - 1s 4ms/step - loss: 459618368.0000 - val_loss: 415178304.0000
Epoch 30/100
243/243 [==============================] - 1s 5ms/step - loss: 461096096.0000 - val_loss: 405361376.0000
Epoch 31/100
243/243 [==============================] - 1s 5ms/step - loss: 460733472.0000 - val_loss: 408100832.0000
Epoch 32/100
243/243 [==============================] - 1s 3ms/step - loss: 462076672.0000 - val_loss: 406162912.0000
Epoch 33/100
243/243 [==============================] - 1s 3ms/step - loss: 464006144.0000 - val_loss: 405347584.0000
Epoch 34/100
243/243 [==============================] - 1s 3ms/step - loss: 462256832.0000 - val_loss: 406306048.0000
Epoch 35/100
243/243 [==============================] - 1s 3ms/step - loss: 460354528.0000 - val_loss: 409204704.0000
Epoch 36/100
243/243 [==============================] - 1s 3ms/step - loss: 461265664.0000 - val_loss: 404979488.0000
Epoch 37/100
243/243 [==============================] - 1s 3ms/step - loss: 462152256.0000 - val_loss: 409651392.0000
Epoch 38/100
243/243 [==============================] - 1s 3ms/step - loss: 459520864.0000 - val_loss: 410474688.0000
Epoch 39/100
243/243 [==============================] - 1s 3ms/step - loss: 461255712.0000 - val_loss: 404589024.0000
Epoch 40/100
243/243 [==============================] - 1s 3ms/step - loss: 457984224.0000 - val_loss: 408383424.0000
Epoch 41/100
243/243 [==============================] - 1s 3ms/step - loss: 462287712.0000 - val_loss: 407665632.0000
Epoch 42/100
243/243 [==============================] - 1s 3ms/step - loss: 458292768.0000 - val_loss: 405306688.0000
Epoch 43/100
243/243 [==============================] - 1s 3ms/step - loss: 461078208.0000 - val_loss: 408549216.0000
Epoch 44/100
243/243 [==============================] - 1s 3ms/step - loss: 461091584.0000 - val_loss: 408373472.0000
Epoch 45/100
243/243 [==============================] - 1s 5ms/step - loss: 459540480.0000 - val_loss: 404142912.0000
Epoch 46/100
243/243 [==============================] - 1s 5ms/step - loss: 458428000.0000 - val_loss: 408742560.0000
Epoch 47/100
243/243 [==============================] - 1s 4ms/step - loss: 462624864.0000 - val_loss: 403979200.0000
Epoch 48/100
243/243 [==============================] - 1s 3ms/step - loss: 465103424.0000 - val_loss: 406224320.0000
Epoch 49/100
243/243 [==============================] - 1s 3ms/step - loss: 460041024.0000 - val_loss: 403965312.0000
Epoch 50/100
243/243 [==============================] - 1s 3ms/step - loss: 462536416.0000 - val_loss: 405721152.0000
Epoch 51/100
243/243 [==============================] - 1s 3ms/step - loss: 463491840.0000 - val_loss: 407185696.0000
Epoch 52/100
243/243 [==============================] - 1s 3ms/step - loss: 459824128.0000 - val_loss: 404142400.0000
Epoch 53/100
243/243 [==============================] - 1s 3ms/step - loss: 460531648.0000 - val_loss: 403576480.0000
Epoch 54/100
243/243 [==============================] - 1s 3ms/step - loss: 460996640.0000 - val_loss: 404404128.0000
Epoch 55/100
243/243 [==============================] - 1s 3ms/step - loss: 459379296.0000 - val_loss: 404263744.0000
Epoch 56/100
243/243 [==============================] - 1s 3ms/step - loss: 457407008.0000 - val_loss: 406361856.0000
Epoch 57/100
243/243 [==============================] - 1s 3ms/step - loss: 461336768.0000 - val_loss: 406021696.0000
Epoch 58/100
243/243 [==============================] - 1s 3ms/step - loss: 457888064.0000 - val_loss: 403185184.0000
Epoch 59/100
243/243 [==============================] - 1s 3ms/step - loss: 460845728.0000 - val_loss: 406044256.0000
Epoch 60/100
243/243 [==============================] - 1s 5ms/step - loss: 458413216.0000 - val_loss: 411275584.0000
Epoch 61/100
243/243 [==============================] - 1s 5ms/step - loss: 460032032.0000 - val_loss: 406131904.0000
Epoch 62/100
243/243 [==============================] - 1s 4ms/step - loss: 457972512.0000 - val_loss: 402415072.0000
Epoch 63/100
243/243 [==============================] - 1s 3ms/step - loss: 458294912.0000 - val_loss: 408690624.0000
Epoch 64/100
243/243 [==============================] - 1s 3ms/step - loss: 459888448.0000 - val_loss: 404577632.0000
Epoch 65/100
243/243 [==============================] - 1s 3ms/step - loss: 459743200.0000 - val_loss: 402087712.0000
Epoch 66/100
243/243 [==============================] - 1s 3ms/step - loss: 457165664.0000 - val_loss: 406824896.0000
Epoch 67/100
243/243 [==============================] - 1s 3ms/step - loss: 461220192.0000 - val_loss: 409334880.0000
Epoch 68/100
243/243 [==============================] - 1s 3ms/step - loss: 461590272.0000 - val_loss: 404767648.0000
Epoch 69/100
243/243 [==============================] - 1s 3ms/step - loss: 462658752.0000 - val_loss: 403083360.0000
Epoch 70/100
243/243 [==============================] - 1s 3ms/step - loss: 456658240.0000 - val_loss: 403451936.0000
Epoch 71/100
243/243 [==============================] - 1s 3ms/step - loss: 461781280.0000 - val_loss: 402799616.0000
Epoch 72/100
243/243 [==============================] - 1s 3ms/step - loss: 455804544.0000 - val_loss: 401233824.0000
Epoch 73/100
243/243 [==============================] - 1s 3ms/step - loss: 458601632.0000 - val_loss: 409966080.0000
Epoch 74/100
243/243 [==============================] - 1s 3ms/step - loss: 461159520.0000 - val_loss: 401682048.0000
Epoch 75/100
243/243 [==============================] - 1s 5ms/step - loss: 458570368.0000 - val_loss: 401365376.0000
Epoch 76/100
243/243 [==============================] - 1s 5ms/step - loss: 456181280.0000 - val_loss: 401167648.0000
Epoch 77/100
243/243 [==============================] - 1s 4ms/step - loss: 459916128.0000 - val_loss: 401082912.0000
Epoch 78/100
243/243 [==============================] - 1s 3ms/step - loss: 456399232.0000 - val_loss: 404117760.0000
Epoch 79/100
243/243 [==============================] - 1s 3ms/step - loss: 457033088.0000 - val_loss: 400739616.0000
Epoch 80/100
243/243 [==============================] - 1s 3ms/step - loss: 456271264.0000 - val_loss: 403895872.0000
Epoch 81/100
243/243 [==============================] - 1s 3ms/step - loss: 457048832.0000 - val_loss: 406308160.0000
Epoch 82/100
243/243 [==============================] - 1s 3ms/step - loss: 457593632.0000 - val_loss: 411129888.0000
Epoch 83/100
243/243 [==============================] - 1s 3ms/step - loss: 461612576.0000 - val_loss: 403316000.0000
Epoch 84/100
243/243 [==============================] - 1s 3ms/step - loss: 455940416.0000 - val_loss: 399967168.0000
Epoch 85/100
243/243 [==============================] - 1s 3ms/step - loss: 455418272.0000 - val_loss: 400373536.0000
Epoch 86/100
243/243 [==============================] - 1s 3ms/step - loss: 459508384.0000 - val_loss: 399988320.0000
Epoch 87/100
243/243 [==============================] - 1s 3ms/step - loss: 458338976.0000 - val_loss: 399842336.0000
Epoch 88/100
243/243 [==============================] - 1s 3ms/step - loss: 456898176.0000 - val_loss: 398731552.0000
Epoch 89/100
243/243 [==============================] - 1s 3ms/step - loss: 457352032.0000 - val_loss: 402429696.0000
Epoch 90/100
243/243 [==============================] - 1s 5ms/step - loss: 460215904.0000 - val_loss: 400989696.0000
Epoch 91/100
243/243 [==============================] - 1s 5ms/step - loss: 459922976.0000 - val_loss: 401740576.0000
Epoch 92/100
243/243 [==============================] - 1s 4ms/step - loss: 454669728.0000 - val_loss: 398868448.0000
Epoch 93/100
243/243 [==============================] - 1s 3ms/step - loss: 457181056.0000 - val_loss: 399623808.0000
Epoch 94/100
243/243 [==============================] - 1s 3ms/step - loss: 455413984.0000 - val_loss: 408087712.0000
Epoch 95/100
243/243 [==============================] - 1s 3ms/step - loss: 455313696.0000 - val_loss: 400568288.0000
Epoch 96/100
243/243 [==============================] - 1s 3ms/step - loss: 455168960.0000 - val_loss: 399511744.0000
Epoch 97/100
243/243 [==============================] - 1s 3ms/step - loss: 455844320.0000 - val_loss: 406204928.0000
Epoch 98/100
243/243 [==============================] - 1s 3ms/step - loss: 456618592.0000 - val_loss: 402911104.0000
Epoch 99/100
243/243 [==============================] - 1s 3ms/step - loss: 454955808.0000 - val_loss: 398084576.0000
Epoch 100/100
243/243 [==============================] - 1s 4ms/step - loss: 458834240.0000 - val_loss: 399275744.0000

In [83]:
# Evaluate model on test set
test_loss = model.evaluate(X_test, y_test, verbose=0)
test_rmse = np.sqrt(test_loss)

print('Test RMSE: {:.4f}'.format(test_rmse))

Test RMSE: 21913.0872

In [97]:
from sklearn.preprocessing import StandardScaler

# Initialize scaler
scaler = StandardScaler()

# Fit and transform training data
X_train_scaled = scaler.fit_transform(X_train)

# Transform test data using the same scaler
X_test_scaled = scaler.transform(X_test)

In [98]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, Dropout
from tensorflow.keras import regularizers

model = Sequential()

# Input layer
model.add(Dense(256, activation='relu', input_dim=X_train.shape[1]))

# Hidden layers
model.add(Dense(128, activation='relu', kernel_regularizer=regularizers.l2(0.001)))
model.add(Dense(64, activation='relu', kernel_regularizer=regularizers.l2(0.001)))
model.add(Dense(32, activation='relu', kernel_regularizer=regularizers.l2(0.001)))
model.add(Dense(16, activation='relu', kernel_regularizer=regularizers.l2(0.001)))

# Dropout layer to prevent overfitting
model.add(Dropout(0.2))

# Output layer
model.add(Dense(1))

model.compile(optimizer='adam', loss='mse')

model.fit(X_train, y_train, epochs=100, batch_size=32, validation_split=0.2)

Epoch 1/100
243/243 [==============================] - 3s 4ms/step - loss: 479807584.0000 - val_loss: 418038912.0000
Epoch 2/100
243/243 [==============================] - 1s 3ms/step - loss: 470049376.0000 - val_loss: 415204800.0000
Epoch 3/100
243/243 [==============================] - 1s 3ms/step - loss: 474877984.0000 - val_loss: 418157792.0000
Epoch 4/100
243/243 [==============================] - 1s 3ms/step - loss: 470616256.0000 - val_loss: 417599808.0000
Epoch 5/100
243/243 [==============================] - 1s 3ms/step - loss: 466528992.0000 - val_loss: 416531392.0000
Epoch 6/100
243/243 [==============================] - 1s 3ms/step - loss: 468971456.0000 - val_loss: 418396032.0000
Epoch 7/100
243/243 [==============================] - 1s 3ms/step - loss: 470640192.0000 - val_loss: 419869216.0000
Epoch 8/100
243/243 [==============================] - 1s 3ms/step - loss: 467595392.0000 - val_loss: 420798528.0000
Epoch 9/100
243/243 [==============================] - 1s 3ms/step - loss: 470503328.0000 - val_loss: 414627392.0000
Epoch 10/100
243/243 [==============================] - 1s 3ms/step - loss: 471670880.0000 - val_loss: 417266624.0000
Epoch 11/100
243/243 [==============================] - 1s 3ms/step - loss: 469189792.0000 - val_loss: 413745024.0000
Epoch 12/100
243/243 [==============================] - 1s 3ms/step - loss: 466544960.0000 - val_loss: 412695968.0000
Epoch 13/100
243/243 [==============================] - 1s 4ms/step - loss: 463380064.0000 - val_loss: 411867008.0000
Epoch 14/100
243/243 [==============================] - 1s 5ms/step - loss: 466513600.0000 - val_loss: 415125568.0000
Epoch 15/100
243/243 [==============================] - 1s 4ms/step - loss: 466555072.0000 - val_loss: 416227616.0000
Epoch 16/100
243/243 [==============================] - 1s 3ms/step - loss: 464657472.0000 - val_loss: 412110944.0000
Epoch 17/100
243/243 [==============================] - 1s 3ms/step - loss: 466346912.0000 - val_loss: 411855360.0000
Epoch 18/100
243/243 [==============================] - 1s 3ms/step - loss: 464962400.0000 - val_loss: 409827296.0000
Epoch 19/100
243/243 [==============================] - 1s 3ms/step - loss: 465230368.0000 - val_loss: 409071840.0000
Epoch 20/100
243/243 [==============================] - 1s 3ms/step - loss: 466274944.0000 - val_loss: 413379328.0000
Epoch 21/100
243/243 [==============================] - 1s 3ms/step - loss: 466662144.0000 - val_loss: 411657248.0000
Epoch 22/100
243/243 [==============================] - 1s 3ms/step - loss: 465344000.0000 - val_loss: 411191616.0000
Epoch 23/100
243/243 [==============================] - 1s 3ms/step - loss: 465510400.0000 - val_loss: 409619744.0000
Epoch 24/100
243/243 [==============================] - 1s 3ms/step - loss: 467852896.0000 - val_loss: 412038464.0000
Epoch 25/100
243/243 [==============================] - 1s 3ms/step - loss: 465596800.0000 - val_loss: 406965728.0000
Epoch 26/100
243/243 [==============================] - 1s 3ms/step - loss: 463584448.0000 - val_loss: 406352544.0000
Epoch 27/100
243/243 [==============================] - 1s 3ms/step - loss: 462712000.0000 - val_loss: 408300704.0000
Epoch 28/100
243/243 [==============================] - 1s 5ms/step - loss: 460990944.0000 - val_loss: 417364704.0000
Epoch 29/100
243/243 [==============================] - 1s 5ms/step - loss: 463329152.0000 - val_loss: 407420768.0000
Epoch 30/100
243/243 [==============================] - 1s 4ms/step - loss: 464826848.0000 - val_loss: 406871776.0000
Epoch 31/100
243/243 [==============================] - 1s 3ms/step - loss: 462864864.0000 - val_loss: 409799520.0000
Epoch 32/100
243/243 [==============================] - 1s 3ms/step - loss: 458590272.0000 - val_loss: 405517280.0000
Epoch 33/100
243/243 [==============================] - 1s 3ms/step - loss: 464246048.0000 - val_loss: 406229184.0000
Epoch 34/100
243/243 [==============================] - 1s 3ms/step - loss: 462686240.0000 - val_loss: 408304352.0000
Epoch 35/100
243/243 [==============================] - 1s 3ms/step - loss: 460345440.0000 - val_loss: 405727296.0000
Epoch 36/100
243/243 [==============================] - 1s 3ms/step - loss: 462684576.0000 - val_loss: 407604736.0000
Epoch 37/100
243/243 [==============================] - 1s 3ms/step - loss: 465487776.0000 - val_loss: 405446400.0000
Epoch 38/100
243/243 [==============================] - 1s 6ms/step - loss: 464926912.0000 - val_loss: 405181152.0000
Epoch 39/100
243/243 [==============================] - 1s 6ms/step - loss: 462655744.0000 - val_loss: 407481632.0000
Epoch 40/100
243/243 [==============================] - 1s 3ms/step - loss: 459639008.0000 - val_loss: 406944416.0000
Epoch 41/100
243/243 [==============================] - 1s 5ms/step - loss: 460549664.0000 - val_loss: 405350240.0000
Epoch 42/100
243/243 [==============================] - 1s 5ms/step - loss: 459771904.0000 - val_loss: 422304960.0000
Epoch 43/100
243/243 [==============================] - 2s 7ms/step - loss: 464164352.0000 - val_loss: 404910304.0000
Epoch 44/100
243/243 [==============================] - 1s 5ms/step - loss: 462875232.0000 - val_loss: 404796512.0000
Epoch 45/100
243/243 [==============================] - 1s 4ms/step - loss: 462534496.0000 - val_loss: 405000672.0000
Epoch 46/100
243/243 [==============================] - 1s 4ms/step - loss: 460563168.0000 - val_loss: 405744288.0000
Epoch 47/100
243/243 [==============================] - 1s 3ms/step - loss: 465385408.0000 - val_loss: 406476992.0000
Epoch 48/100
243/243 [==============================] - 1s 3ms/step - loss: 464986272.0000 - val_loss: 404736736.0000
Epoch 49/100
243/243 [==============================] - 1s 3ms/step - loss: 460730976.0000 - val_loss: 404499200.0000
Epoch 50/100
243/243 [==============================] - 1s 3ms/step - loss: 460040384.0000 - val_loss: 404411072.0000
Epoch 51/100
243/243 [==============================] - 1s 3ms/step - loss: 462651168.0000 - val_loss: 404099200.0000
Epoch 52/100
243/243 [==============================] - 1s 3ms/step - loss: 462199904.0000 - val_loss: 404266112.0000
Epoch 53/100
243/243 [==============================] - 1s 3ms/step - loss: 460484000.0000 - val_loss: 404047136.0000
Epoch 54/100
243/243 [==============================] - 1s 4ms/step - loss: 461169440.0000 - val_loss: 403714336.0000
Epoch 55/100
243/243 [==============================] - 1s 5ms/step - loss: 461319392.0000 - val_loss: 409194144.0000
Epoch 56/100
243/243 [==============================] - 1s 5ms/step - loss: 459187712.0000 - val_loss: 403744416.0000
Epoch 57/100
243/243 [==============================] - 1s 3ms/step - loss: 462665472.0000 - val_loss: 403622912.0000
Epoch 58/100
243/243 [==============================] - 1s 3ms/step - loss: 461279328.0000 - val_loss: 403405056.0000
Epoch 59/100
243/243 [==============================] - 1s 3ms/step - loss: 462989536.0000 - val_loss: 405426368.0000
Epoch 60/100
243/243 [==============================] - 1s 3ms/step - loss: 457977376.0000 - val_loss: 403261344.0000
Epoch 61/100
243/243 [==============================] - 1s 3ms/step - loss: 463952672.0000 - val_loss: 407262112.0000
Epoch 62/100
243/243 [==============================] - 1s 3ms/step - loss: 463089280.0000 - val_loss: 403342496.0000
Epoch 63/100
243/243 [==============================] - 1s 3ms/step - loss: 459289312.0000 - val_loss: 405282080.0000
Epoch 64/100
243/243 [==============================] - 1s 3ms/step - loss: 461738272.0000 - val_loss: 410975648.0000
Epoch 65/100
243/243 [==============================] - 1s 3ms/step - loss: 457312000.0000 - val_loss: 402898272.0000
Epoch 66/100
243/243 [==============================] - 1s 3ms/step - loss: 462763136.0000 - val_loss: 406370400.0000
Epoch 67/100
243/243 [==============================] - 1s 3ms/step - loss: 461913728.0000 - val_loss: 402667136.0000
Epoch 68/100
243/243 [==============================] - 1s 3ms/step - loss: 460855392.0000 - val_loss: 402919904.0000
Epoch 69/100
243/243 [==============================] - 1s 4ms/step - loss: 463850688.0000 - val_loss: 403169792.0000
Epoch 70/100
243/243 [==============================] - 1s 6ms/step - loss: 460658624.0000 - val_loss: 402724672.0000
Epoch 71/100
243/243 [==============================] - 1s 5ms/step - loss: 459213024.0000 - val_loss: 404041952.0000
Epoch 72/100
243/243 [==============================] - 1s 4ms/step - loss: 463417792.0000 - val_loss: 406214464.0000
Epoch 73/100
243/243 [==============================] - 1s 4ms/step - loss: 458065184.0000 - val_loss: 402307712.0000
Epoch 74/100
243/243 [==============================] - 1s 4ms/step - loss: 458433536.0000 - val_loss: 405031136.0000
Epoch 75/100
243/243 [==============================] - 1s 4ms/step - loss: 459526880.0000 - val_loss: 402118144.0000
Epoch 76/100
243/243 [==============================] - 1s 4ms/step - loss: 458985152.0000 - val_loss: 404057280.0000
Epoch 77/100
243/243 [==============================] - 1s 3ms/step - loss: 458178752.0000 - val_loss: 406654400.0000
Epoch 78/100
243/243 [==============================] - 1s 3ms/step - loss: 463462592.0000 - val_loss: 401945760.0000
Epoch 79/100
243/243 [==============================] - 1s 3ms/step - loss: 455904896.0000 - val_loss: 405793440.0000
Epoch 80/100
243/243 [==============================] - 1s 3ms/step - loss: 458538560.0000 - val_loss: 401722176.0000
Epoch 81/100
243/243 [==============================] - 1s 3ms/step - loss: 459028128.0000 - val_loss: 415512672.0000
Epoch 82/100
243/243 [==============================] - 1s 3ms/step - loss: 459652320.0000 - val_loss: 402766272.0000
Epoch 83/100
243/243 [==============================] - 1s 4ms/step - loss: 459724864.0000 - val_loss: 402505568.0000
Epoch 84/100
243/243 [==============================] - 1s 5ms/step - loss: 458478112.0000 - val_loss: 407801856.0000
Epoch 85/100
243/243 [==============================] - 1s 5ms/step - loss: 459490272.0000 - val_loss: 401682688.0000
Epoch 86/100
243/243 [==============================] - 1s 3ms/step - loss: 460332224.0000 - val_loss: 401879072.0000
Epoch 87/100
243/243 [==============================] - 1s 3ms/step - loss: 458008768.0000 - val_loss: 402676512.0000
Epoch 88/100
243/243 [==============================] - 1s 3ms/step - loss: 458305888.0000 - val_loss: 407012640.0000
Epoch 89/100
243/243 [==============================] - 1s 3ms/step - loss: 457805088.0000 - val_loss: 402072096.0000
Epoch 90/100
243/243 [==============================] - 1s 3ms/step - loss: 462305920.0000 - val_loss: 405570464.0000
Epoch 91/100
243/243 [==============================] - 1s 3ms/step - loss: 457446272.0000 - val_loss: 405720480.0000
Epoch 92/100
243/243 [==============================] - 1s 3ms/step - loss: 458728352.0000 - val_loss: 400716800.0000
Epoch 93/100
243/243 [==============================] - 1s 3ms/step - loss: 458528864.0000 - val_loss: 404502848.0000
Epoch 94/100
243/243 [==============================] - 1s 3ms/step - loss: 459512608.0000 - val_loss: 400206240.0000
Epoch 95/100
243/243 [==============================] - 1s 3ms/step - loss: 457027680.0000 - val_loss: 400822784.0000
Epoch 96/100
243/243 [==============================] - 1s 3ms/step - loss: 460663296.0000 - val_loss: 400414496.0000
Epoch 97/100
243/243 [==============================] - 1s 4ms/step - loss: 462012352.0000 - val_loss: 402258784.0000
Epoch 98/100
243/243 [==============================] - 1s 5ms/step - loss: 459525952.0000 - val_loss: 400176992.0000
Epoch 99/100
243/243 [==============================] - 1s 5ms/step - loss: 454001696.0000 - val_loss: 398885792.0000
Epoch 100/100
243/243 [==============================] - 1s 4ms/step - loss: 456032128.0000 - val_loss: 399087936.0000

In [100]:
# Evaluate model on test set
test_loss = model.evaluate(X_test, y_test, verbose=0)
test_rmse = np.sqrt(test_loss)

print('Test RMSE: {:.4f}'.format(test_rmse))

Test RMSE: 21993.5780